<div class="todo-app">
  <h1>Todos</h1>
  <!--AddTodo -->
  <div class="row">
    <input type="text" placeholder="¿Qué quieres hacer?">
  </div>
  <!--TodoList -->
  <div class="row">
    <ul>
      <li>let's go!</li>
      <li style="text-decoration: line-through;">ho</li>
      <li style="text-decoration: line-through;">hey</li>
    </ul>
  </div>
  <!--Filter -->
  <div class="row">
    Ver:
    <a href="#" style="text-decoration: none; color: rgb(0, 0, 0);">Todos</a> |
    <a href="#">Activos</a>|
    <a href="#">Completados</a>
  </div>
</div>
